In [1]:
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [2]:
from UnivariateF import UnivariateC
quan, qual = UnivariateC.quanQual(dataset)

In [3]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [4]:
descriptive = UnivariateC.UnivarDesc(dataset, quan)
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean            108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
median          108       67       65       66       71       62  265000
mode              1       62       63       65       60     56.7  300000
min               1    40.89       37       50       50    51.21  200000
25%            54.5     60.6     60.9       61       60   57.945  240000
50%             108       67       65       66       71       62  265000
75%           161.5     75.7       73       72     83.5   66.255  300000
max             215     89.4     97.7       91       98    77.89  940000
IQR             107     15.1     12.1       11     23.5     8.31   60000
1.5IQR        160.5    22.65    18.15     16.5    35.25   12.465   90000
lesserRange    -106    37.95    42.75     44.5    24.75    45.48  150000
greaterRange    322    98.35    91.15     88.5   118.75    78.72  390000

In [14]:
descriptive = pd.DataFrame(index = ["mean",'median','mode', 'min','25%','50%','75%','max',
                                    'IQR','1.5IQR','lesserRange','greaterRange','skew','kurtosis'], columns = quan)
for columnName in quan:
    descriptive[columnName]['mean']= dataset[columnName].mean()
    descriptive[columnName]['median']= dataset[columnName].median()
    descriptive[columnName]['mode'] = dataset[columnName].mode()[0]
    descriptive[columnName]['min'] = dataset[columnName].min()
    descriptive[columnName]['25%'] = dataset.describe()[columnName]['25%']
    descriptive[columnName]['50%'] = dataset.describe()[columnName]['50%']
    descriptive[columnName]['75%'] = dataset.describe()[columnName]['75%']
    descriptive[columnName]['max'] = dataset.describe()[columnName]['max']
    descriptive[columnName]['IQR'] = descriptive[columnName]['75%']-descriptive[columnName]['25%']
    descriptive[columnName]['1.5IQR'] = descriptive[columnName]['IQR']*1.5
    descriptive[columnName]['lesserRange'] = descriptive[columnName]['25%']-descriptive[columnName]['1.5IQR']
    descriptive[columnName]['greaterRange'] = descriptive[columnName]['75%']+descriptive[columnName]['1.5IQR']
    descriptive[columnName]['skew']= dataset[columnName].skew()
    descriptive[columnName]['kurtosis']= dataset[columnName].kurtosis()

In [15]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108,67.3034,66.3332,66.3702,72.1006,62.2782,288655
median,108,67,65,66,71,62,265000
mode,1,62,63,65,60,56.7,300000
min,1,40.89,37,50,50,51.21,200000
25%,54.5,60.6,60.9,61,60,57.945,240000
50%,108,67,65,66,71,62,265000
75%,161.5,75.7,73,72,83.5,66.255,300000
max,215,89.4,97.7,91,98,77.89,940000
IQR,107,15.1,12.1,11,23.5,8.31,60000
1.5IQR,160.5,22.65,18.15,16.5,35.25,12.465,90000
lesserRange,-106,37.95,42.75,44.5,24.75,45.48,150000
greaterRange,322,98.35,91.15,88.5,118.75,78.72,390000
skew,0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.56975
kurtosis,-1.2,-0.60751,0.450765,0.0521433,-1.08858,-0.470723,18.5443